@import "./custom";

body{
    background-image: url("../image/noor-salim.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vh;
    height: 100vh;
    background-position: center center;
}

.App {
    
    width: 100vw;
    margin: 0;
  }
  
